@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@100;400;700&family=Wix+Madefor+Display:wght@400..800&display=swap');


.nav-link {
    /* font-family: Cormorant Arial, serif; */
    font-size: calc(8.7px + 0.2vw);
    padding: 0 calc(13px + 1.7vw);
    letter-spacing: calc(0.6px + 0.05vw);
    display: inline-block;
    -webkit-transform: scale(1.06, 1);
    -moz-transform: scale(1.06, 1);
    -ms-transform: scale(1.06, 1);
    -o-transform: scale(1.06, 1);
    transform: scale(1.06, 1);
    color: #222;
    margin-top: 22px;
    background-color: "red"
}

.nav-link * {
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s ease;
    padding-bottom: 1px;
}

.nav-link *:hover {
    border-bottom: 1px solid #444;
}



/* Overlay */
.app__navbar-smallscreen_overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 80vw;
    height: calc(100vh - 60px);
    margin-top: 60px;
    display: flex;
    justify-content: center;
    padding-left: 29px;
    transition: .2s ease;
    flex-direction: column;
    z-index: 991;
    border-left: 1px solid #CCC;
}

.app__navbar-smallscreen_links {
    list-style: none;
}

.app__navbar-smallscreen_links li:hover * {
    color: #999
}

.app__navbar-smallscreen_links li {
    cursor: pointer;
    color: black;
    font-size: 2rem;
    text-align: left;
    /* font-family: Cormorant Upright, serif; */
}

.app__navbar-smallscreen_overlay * {
    color: black;
}

.overlay-link {
    font-size: 12px;
    letter-spacing: 2.2px;
    display: inline-block;
    -webkit-transform: scale(1.06, 1);
    -moz-transform: scale(1.06, 1);
    -ms-transform: scale(1.06, 1);
    -o-transform: scale(1.06, 1);
    transform: scale(1.06, 1);
    color: #222;
    font-weight: 600;
}

.overlay-link:hover {
    opacity: 0.5;
}

/* Overlay Effect */
.slide-bottom-in { 
    animation: slide-in 0.4s cubic-bezier(0.42, 0, 0.58, 1) forwards; 
}

.slide-bottom-out {
  animation: slide-out 0.4s cubic-bezier(0.42, 0, 0.58, 1) forwards;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

/* Overlay Text Effect */
.slide-bottom-in-text { 
    animation: slide-in-text 0.4s cubic-bezier(0.42, 0, 0.58, 1) forwards;
    opacity: 0;
}

.slide-bottom-out-text {
    animation: slide-out-text 0.4s cubic-bezier(0.42, 0, 0.58, 1) forwards;
    opacity: 1;
}

@keyframes slide-in-text {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-out-text{
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}






@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
/* .gayathri-thin {
  font-family: "Gayathri", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.gayathri-regular {
  font-family: "Gayathri", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.gayathri-bold {
  font-family: "Gayathri", sans-serif;
  font-weight: 700;
  font-style: normal;
} */


.red-hat-display {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Mate:ital@0;1&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap'); */
/* .playfair-display1 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
} */

/* .playfair-display {
    font-family: "Mate", serif;
  font-weight: 400;
  font-style: normal;
} */

@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

.playfair-display {
    font-family: "Gruppo", sans-serif;
    font-weight: 100;
    font-style: normal;
}