.location {
  color: #999;
}

.details-block {
  font-weight: 400;
  font-family: Arial;
}

.location-value {
  margin-top: -2;
}

/* TEXT ANIMATION */
.project-slide-up-text { 
    animation: project-slide-up-text 1s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
    opacity: 0;
}

@keyframes project-slide-up-text {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.toggle-project-button:hover {
  background-color: #CCC;
}

.toggle-project-button {
  background-color: #DDD;
}


.more-projects-dim:hover {
  opacity: 0.5;
}

.more-projects-dim {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
